body {
    margin: 0px;
    background-image: none;
    position: static;
    left: auto;
    width: 865px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base {
    position: absolute;
    z-index: 0;
}

#u52_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 826px;
    height: 1119px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u52 {
    position: absolute;
    left: 39px;
    top: 50px;
    width: 826px;
    height: 1119px;
}

#u53 {
    position: absolute;
    left: 2px;
    top: 552px;
    width: 822px;
    word-wrap: break-word;
}

#u54_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
}

#u54 {
    position: absolute;
    left: 699px;
    top: 81px;
    width: 40px;
    height: 40px;
}

#u55 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 36px;
    visibility: hidden;
    word-wrap: break-word;
}

#u56_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 51px;
    height: 27px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u56 {
    position: absolute;
    left: 699px;
    top: 131px;
    width: 51px;
    height: 27px;
}

#u57 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 51px;
    word-wrap: break-word;
}

#u58_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 12px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u58 {
    position: absolute;
    left: 107px;
    top: 88px;
    width: 12px;
    height: 16px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u59 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 12px;
    visibility: hidden;
    white-space: nowrap;
}

#u60_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 161px;
    height: 37px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #00CCFF;
}

#u60 {
    position: absolute;
    left: 93px;
    top: 89px;
    width: 161px;
    height: 37px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #00CCFF;
}

#u61 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 161px;
    white-space: nowrap;
}

#u62_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 386px;
    height: 31px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
}

#u62 {
    position: absolute;
    left: 88px;
    top: 515px;
    width: 386px;
    height: 31px;
    font-size: 18px;
}

#u63 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 386px;
    word-wrap: break-word;
}

#u64_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 386px;
    height: 31px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
}

#u64 {
    position: absolute;
    left: 88px;
    top: 821px;
    width: 386px;
    height: 31px;
    font-size: 18px;
}

#u65 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 386px;
    word-wrap: break-word;
}

#u66 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u67_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 158px;
    height: 217px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u67 {
    position: absolute;
    left: 88px;
    top: 862px;
    width: 158px;
    height: 217px;
}

#u68 {
    position: absolute;
    left: 2px;
    top: 100px;
    width: 154px;
    visibility: hidden;
    word-wrap: break-word;
}

#u69_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    height: 95px;
}

#u69 {
    position: absolute;
    left: 100px;
    top: 878px;
    width: 134px;
    height: 95px;
}

#u70 {
    position: absolute;
    left: 2px;
    top: 40px;
    width: 130px;
    visibility: hidden;
    word-wrap: break-word;
}

#u71_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    height: 81px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u71 {
    position: absolute;
    left: 100px;
    top: 983px;
    width: 134px;
    height: 81px;
}

#u72 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    word-wrap: break-word;
}

#u73 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u74_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 158px;
    height: 217px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u74 {
    position: absolute;
    left: 279px;
    top: 862px;
    width: 158px;
    height: 217px;
}

#u75 {
    position: absolute;
    left: 2px;
    top: 100px;
    width: 154px;
    visibility: hidden;
    word-wrap: break-word;
}

#u76_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 125px;
    height: 95px;
}

#u76 {
    position: absolute;
    left: 291px;
    top: 878px;
    width: 125px;
    height: 95px;
}

#u77 {
    position: absolute;
    left: 2px;
    top: 40px;
    width: 121px;
    visibility: hidden;
    word-wrap: break-word;
}

#u78_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    height: 81px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u78 {
    position: absolute;
    left: 291px;
    top: 983px;
    width: 134px;
    height: 81px;
}

#u79 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    word-wrap: break-word;
}

#u80 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u81_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 158px;
    height: 217px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u81 {
    position: absolute;
    left: 662px;
    top: 558px;
    width: 158px;
    height: 217px;
}

#u82 {
    position: absolute;
    left: 2px;
    top: 100px;
    width: 154px;
    visibility: hidden;
    word-wrap: break-word;
}

#u83_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    height: 81px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u83 {
    position: absolute;
    left: 674px;
    top: 679px;
    width: 134px;
    height: 81px;
}

#u84 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    word-wrap: break-word;
}

#u85_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    height: 95px;
}

#u85 {
    position: absolute;
    left: 674px;
    top: 574px;
    width: 134px;
    height: 95px;
}

#u86 {
    position: absolute;
    left: 2px;
    top: 40px;
    width: 130px;
    visibility: hidden;
    word-wrap: break-word;
}

#u87 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u88_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 158px;
    height: 217px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u88 {
    position: absolute;
    left: 279px;
    top: 557px;
    width: 158px;
    height: 217px;
}

#u89 {
    position: absolute;
    left: 2px;
    top: 100px;
    width: 154px;
    visibility: hidden;
    word-wrap: break-word;
}

#u90_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 127px;
    height: 95px;
}

#u90 {
    position: absolute;
    left: 291px;
    top: 573px;
    width: 127px;
    height: 95px;
}

#u91 {
    position: absolute;
    left: 2px;
    top: 40px;
    width: 123px;
    visibility: hidden;
    word-wrap: break-word;
}

#u92_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    height: 81px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u92 {
    position: absolute;
    left: 291px;
    top: 678px;
    width: 134px;
    height: 81px;
}

#u93 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    word-wrap: break-word;
}

#u94 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u95_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 158px;
    height: 217px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u95 {
    position: absolute;
    left: 471px;
    top: 557px;
    width: 158px;
    height: 217px;
}

#u96 {
    position: absolute;
    left: 2px;
    top: 100px;
    width: 154px;
    visibility: hidden;
    word-wrap: break-word;
}

#u97_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    height: 95px;
}

#u97 {
    position: absolute;
    left: 483px;
    top: 573px;
    width: 134px;
    height: 95px;
}

#u98 {
    position: absolute;
    left: 2px;
    top: 40px;
    width: 130px;
    visibility: hidden;
    word-wrap: break-word;
}

#u99_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    height: 81px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u99 {
    position: absolute;
    left: 483px;
    top: 678px;
    width: 134px;
    height: 81px;
}

#u100 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    word-wrap: break-word;
}

#u101 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u102_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 158px;
    height: 217px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u102 {
    position: absolute;
    left: 88px;
    top: 557px;
    width: 158px;
    height: 217px;
}

#u103 {
    position: absolute;
    left: 2px;
    top: 100px;
    width: 154px;
    visibility: hidden;
    word-wrap: break-word;
}

#u104_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    height: 95px;
}

#u104 {
    position: absolute;
    left: 100px;
    top: 573px;
    width: 134px;
    height: 95px;
}

#u105 {
    position: absolute;
    left: 2px;
    top: 40px;
    width: 130px;
    visibility: hidden;
    word-wrap: break-word;
}

#u106_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    height: 81px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u106 {
    position: absolute;
    left: 100px;
    top: 678px;
    width: 134px;
    height: 81px;
}

#u107 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    word-wrap: break-word;
}

#u108 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u109_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 158px;
    height: 217px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u109 {
    position: absolute;
    left: 471px;
    top: 863px;
    width: 158px;
    height: 217px;
}

#u110 {
    position: absolute;
    left: 2px;
    top: 100px;
    width: 154px;
    visibility: hidden;
    word-wrap: break-word;
}

#u111_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 125px;
    height: 95px;
}

#u111 {
    position: absolute;
    left: 483px;
    top: 879px;
    width: 125px;
    height: 95px;
}

#u112 {
    position: absolute;
    left: 2px;
    top: 40px;
    width: 121px;
    visibility: hidden;
    word-wrap: break-word;
}

#u113_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    height: 81px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u113 {
    position: absolute;
    left: 483px;
    top: 984px;
    width: 134px;
    height: 81px;
}

#u114 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    word-wrap: break-word;
}

#u115 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u116_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 158px;
    height: 217px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u116 {
    position: absolute;
    left: 662px;
    top: 864px;
    width: 158px;
    height: 217px;
}

#u117 {
    position: absolute;
    left: 2px;
    top: 100px;
    width: 154px;
    visibility: hidden;
    word-wrap: break-word;
}

#u118_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 125px;
    height: 95px;
}

#u118 {
    position: absolute;
    left: 674px;
    top: 880px;
    width: 125px;
    height: 95px;
}

#u119 {
    position: absolute;
    left: 2px;
    top: 40px;
    width: 121px;
    visibility: hidden;
    word-wrap: break-word;
}

#u120_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    height: 81px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u120 {
    position: absolute;
    left: 674px;
    top: 985px;
    width: 134px;
    height: 81px;
}

#u121 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    word-wrap: break-word;
}

#u122_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 110px;
    height: 25px;
    background: inherit;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #996600;
}

#u122 {
    position: absolute;
    left: 700px;
    top: 505px;
    width: 110px;
    height: 25px;
    color: #996600;
}

#u123 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 106px;
    word-wrap: break-word;
}

#u124_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 110px;
    height: 25px;
    background: inherit;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #996600;
}

#u124 {
    position: absolute;
    left: 700px;
    top: 811px;
    width: 110px;
    height: 25px;
    color: #996600;
}

#u125 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 106px;
    word-wrap: break-word;
}

#u126_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 41px;
}

#u126 {
    position: absolute;
    left: 766px;
    top: 81px;
    width: 50px;
    height: 41px;
}

#u127 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 46px;
    visibility: hidden;
    word-wrap: break-word;
}

#u128_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 51px;
    height: 27px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u128 {
    position: absolute;
    left: 773px;
    top: 131px;
    width: 51px;
    height: 27px;
}

#u129 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 51px;
    word-wrap: break-word;
}

#u130 {
    position: absolute;
    left: 95px;
    top: 214px;
    width: 725px;
    height: 212px;
    overflow: hidden;
}

#u130_state0 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 725px;
    height: 212px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u130_state0_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u131_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 726px;
    height: 211px;
}

#u131 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 726px;
    height: 211px;
}

#u132 {
    position: absolute;
    left: 2px;
    top: 98px;
    width: 722px;
    visibility: hidden;
    word-wrap: break-word;
}

#u130_state1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 725px;
    height: 212px;
    visibility: hidden;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u130_state1_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u133_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 716px;
    height: 211px;
}

#u133 {
    position: absolute;
    left: 8px;
    top: 0px;
    width: 716px;
    height: 211px;
}

#u134 {
    position: absolute;
    left: 2px;
    top: 98px;
    width: 712px;
    visibility: hidden;
    word-wrap: break-word;
}

#u130_state2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 725px;
    height: 212px;
    visibility: hidden;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u130_state2_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u135_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 725px;
    height: 212px;
}

#u135 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 725px;
    height: 212px;
}

#u136 {
    position: absolute;
    left: 2px;
    top: 98px;
    width: 721px;
    visibility: hidden;
    word-wrap: break-word;
}

#u130_state3 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 725px;
    height: 212px;
    visibility: hidden;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u130_state3_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u137_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 718px;
    height: 211px;
}

#u137 {
    position: absolute;
    left: 6px;
    top: 0px;
    width: 718px;
    height: 211px;
}

#u138 {
    position: absolute;
    left: 2px;
    top: 98px;
    width: 714px;
    visibility: hidden;
    word-wrap: break-word;
}

#u139_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 33px;
    height: 8px;
    background: inherit;
    background-color: rgba(121, 121, 121, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u139 {
    position: absolute;
    left: 338px;
    top: 362px;
    width: 33px;
    height: 8px;
}

#u140 {
    position: absolute;
    left: 2px;
    top: -4px;
    width: 29px;
    visibility: hidden;
    word-wrap: break-word;
}

#u141_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 33px;
    height: 8px;
    background: inherit;
    background-color: rgba(121, 121, 121, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u141 {
    position: absolute;
    left: 372px;
    top: 362px;
    width: 33px;
    height: 8px;
}

#u142 {
    position: absolute;
    left: 2px;
    top: -4px;
    width: 29px;
    visibility: hidden;
    word-wrap: break-word;
}

#u143_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 33px;
    height: 8px;
    background: inherit;
    background-color: rgba(25, 158, 216, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u143 {
    position: absolute;
    left: 406px;
    top: 362px;
    width: 33px;
    height: 8px;
}

#u144 {
    position: absolute;
    left: 2px;
    top: -4px;
    width: 29px;
    visibility: hidden;
    word-wrap: break-word;
}

#u145_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 33px;
    height: 8px;
    background: inherit;
    background-color: rgba(121, 121, 121, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u145 {
    position: absolute;
    left: 440px;
    top: 362px;
    width: 33px;
    height: 8px;
}

#u146 {
    position: absolute;
    left: 2px;
    top: -4px;
    width: 29px;
    visibility: hidden;
    word-wrap: break-word;
}

#u147_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 31px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FF6600;
}

#u147 {
    position: absolute;
    left: 163px;
    top: 442px;
    width: 300px;
    height: 31px;
    color: #FF6600;
}

#u147_div.mouseOver {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 31px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FF6600;
}

#u147.mouseOver {
}

#u148 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    word-wrap: break-word;
}

#u149_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 31px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FF6600;
}

#u149 {
    position: absolute;
    left: 163px;
    top: 471px;
    width: 300px;
    height: 31px;
    color: #FF6600;
}

#u149_div.mouseOver {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 31px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FF6600;
}

#u149.mouseOver {
}

#u150 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    word-wrap: break-word;
}

#u151_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 110px;
    height: 25px;
    background: inherit;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #996600;
}

#u151 {
    position: absolute;
    left: 707px;
    top: 168px;
    width: 110px;
    height: 25px;
    color: #996600;
}

#u152 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 106px;
    word-wrap: break-word;
}

#u153_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 386px;
    height: 31px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
}

#u153 {
    position: absolute;
    left: 95px;
    top: 168px;
    width: 386px;
    height: 31px;
    font-size: 18px;
}

#u154 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 386px;
    word-wrap: break-word;
}

#u155_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 120px;
    height: 31px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #993300;
}

#u155 {
    position: absolute;
    left: 509px;
    top: 440px;
    width: 120px;
    height: 31px;
    color: #993300;
}

#u155_div.mouseOver {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 120px;
    height: 31px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #993300;
}

#u155.mouseOver {
}

#u156 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 120px;
    word-wrap: break-word;
}

#u157_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 120px;
    height: 31px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #993300;
}

#u157 {
    position: absolute;
    left: 509px;
    top: 471px;
    width: 120px;
    height: 31px;
    color: #993300;
}

#u157_div.mouseOver {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 120px;
    height: 31px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #993300;
}

#u157.mouseOver {
}

#u158 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 120px;
    word-wrap: break-word;
}

#u159_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 472px;
    height: 31px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: #CCCCCC;
}

#u159 {
    position: absolute;
    left: 240px;
    top: 1125px;
    width: 472px;
    height: 31px;
    font-size: 18px;
    color: #CCCCCC;
}

#u160 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 472px;
    word-wrap: break-word;
}
