body {
    margin: 0px;
    background-image: none;
    position: static;
    left: auto;
    width: 764px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base {
    position: absolute;
    z-index: 0;
}

#u349_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 714px;
    height: 883px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u349 {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 714px;
    height: 883px;
}

#u350 {
    position: absolute;
    left: 2px;
    top: 434px;
    width: 710px;
    visibility: hidden;
    word-wrap: break-word;
}

#u351_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 628px;
    height: 420px;
}

#u351 {
    position: absolute;
    left: 97px;
    top: 137px;
    width: 628px;
    height: 420px;
}

#u352 {
    position: absolute;
    left: 2px;
    top: 202px;
    width: 624px;
    visibility: hidden;
    word-wrap: break-word;
}

#u353_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
}

#u353 {
    position: absolute;
    left: 688px;
    top: 70px;
    width: 40px;
    height: 40px;
}

#u354 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 36px;
    visibility: hidden;
    word-wrap: break-word;
}

#u355_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 500px;
    height: 31px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}

#u355 {
    position: absolute;
    left: 162px;
    top: 610px;
    width: 500px;
    height: 31px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}

#u355_div.mouseOver {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 500px;
    height: 31px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}

#u355.mouseOver {
}

#u356 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 500px;
    word-wrap: break-word;
}

#u357_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 155px;
    height: 31px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    color: #003399;
}

#u357 {
    position: absolute;
    left: 539px;
    top: 567px;
    width: 155px;
    height: 31px;
    font-size: 16px;
    color: #003399;
}

#u357_div.mouseOver {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 155px;
    height: 31px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    color: #003399;
}

#u357.mouseOver {
}

#u358 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 155px;
    word-wrap: break-word;
}
