body {
    margin: 0px;
    background-image: none;
    position: static;
    left: auto;
    width: 853px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base {
    position: absolute;
    z-index: 0;
}

#u8_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 470px;
    height: 293px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u8 {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 470px;
    height: 293px;
}

#u9 {
    position: absolute;
    left: 2px;
    top: 138px;
    width: 466px;
    visibility: hidden;
    word-wrap: break-word;
}

#u10 {
    position: absolute;
    left: 198px;
    top: 301px;
    width: 206px;
    height: 35px;
}

#u10_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 206px;
    height: 35px;
    background-color: transparent;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #333333;
    text-align: center;
}

#u11 {
    position: absolute;
    left: 54px;
    top: 51px;
    width: 462px;
    height: 235px;
    overflow: hidden;
}

#u11_state0 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 462px;
    height: 235px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u11_state0_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u12 {
    position: absolute;
    left: 176px;
    top: 62px;
    width: 138px;
    height: 22px;
}

#u12_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 138px;
    height: 22px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
}

#u12_input:disabled {
    color: grayText;
}

#u13 {
    position: absolute;
    left: 176px;
    top: 158px;
    width: 138px;
    height: 25px;
}

#u13_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 138px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u14_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u14 {
    position: absolute;
    left: 109px;
    top: 68px;
    width: 49px;
    height: 22px;
}

#u15 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    word-wrap: break-word;
}

#u16_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u16 {
    position: absolute;
    left: 109px;
    top: 155px;
    width: 49px;
    height: 22px;
}

#u17 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    word-wrap: break-word;
}

#u18_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u18 {
    position: absolute;
    left: 109px;
    top: 112px;
    width: 49px;
    height: 22px;
}

#u19 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    word-wrap: break-word;
}

#u20 {
    position: absolute;
    left: 176px;
    top: 107px;
    width: 138px;
    height: 30px;
    overflow: hidden;
}

#u20_state0 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 138px;
    height: 30px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u20_state0_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u21_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 128px;
    height: 19px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u21 {
    position: absolute;
    left: 7px;
    top: 6px;
    width: 128px;
    height: 19px;
}

#u22 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 128px;
    word-wrap: break-word;
}

#u20_state1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 138px;
    height: 30px;
    visibility: hidden;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u20_state1_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u23_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 143px;
    height: 32px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u23 {
    position: absolute;
    left: 10px;
    top: 9px;
    width: 143px;
    height: 32px;
}

#u24 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 143px;
    word-wrap: break-word;
}

#u20_state2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 138px;
    height: 30px;
    visibility: hidden;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u20_state2_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u25_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 143px;
    height: 32px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u25 {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 143px;
    height: 32px;
}

#u26 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 143px;
    word-wrap: break-word;
}

#u27 {
    position: absolute;
    left: 176px;
    top: 24px;
    width: 138px;
    height: 22px;
}

#u27_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 138px;
    height: 22px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
}

#u27_input:disabled {
    color: grayText;
}

#u28_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u28 {
    position: absolute;
    left: 109px;
    top: 24px;
    width: 49px;
    height: 22px;
}

#u29 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    word-wrap: break-word;
}

#u30 {
    position: absolute;
    left: 176px;
    top: 199px;
    width: 138px;
    height: 25px;
}

#u30_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 138px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u31_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 102px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u31 {
    position: absolute;
    left: 56px;
    top: 196px;
    width: 102px;
    height: 22px;
}

#u32 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 102px;
    word-wrap: break-word;
}

#u11_state1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 462px;
    height: 235px;
    visibility: hidden;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u11_state1_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u33 {
    position: absolute;
    left: 176px;
    top: 62px;
    width: 138px;
    height: 22px;
}

#u33_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 138px;
    height: 22px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
}

#u33_input:disabled {
    color: grayText;
}

#u34 {
    position: absolute;
    left: 176px;
    top: 158px;
    width: 138px;
    height: 25px;
}

#u34_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 138px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u35_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u35 {
    position: absolute;
    left: 109px;
    top: 68px;
    width: 49px;
    height: 22px;
}

#u36 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    word-wrap: break-word;
}

#u37_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u37 {
    position: absolute;
    left: 109px;
    top: 155px;
    width: 49px;
    height: 22px;
}

#u38 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    word-wrap: break-word;
}

#u39_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u39 {
    position: absolute;
    left: 109px;
    top: 112px;
    width: 49px;
    height: 22px;
}

#u40 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    word-wrap: break-word;
}

#u41 {
    position: absolute;
    left: 176px;
    top: 107px;
    width: 138px;
    height: 30px;
    overflow: hidden;
}

#u41_state0 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 138px;
    height: 30px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u41_state0_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u42_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 128px;
    height: 19px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u42 {
    position: absolute;
    left: 7px;
    top: 6px;
    width: 128px;
    height: 19px;
}

#u43 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 128px;
    word-wrap: break-word;
}

#u41_state1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 138px;
    height: 30px;
    visibility: hidden;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u41_state1_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u44_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 143px;
    height: 32px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u44 {
    position: absolute;
    left: 10px;
    top: 9px;
    width: 143px;
    height: 32px;
}

#u45 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 143px;
    word-wrap: break-word;
}

#u41_state2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 138px;
    height: 30px;
    visibility: hidden;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u41_state2_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u46_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 143px;
    height: 32px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u46 {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 143px;
    height: 32px;
}

#u47 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 143px;
    word-wrap: break-word;
}

#u48_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    height: 32px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    color: #FF6600;
}

#u48 {
    position: absolute;
    left: 424px;
    top: 310px;
    width: 91px;
    height: 32px;
    font-size: 14px;
    color: #FF6600;
}

#u48_div.mouseOver {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    height: 32px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    color: #FF6600;
}

#u48.mouseOver {
}

#u49 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 87px;
    word-wrap: break-word;
}

#u50_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150px;
    height: 150px;
    background: inherit;
    background-color: rgba(255, 223, 37, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#u50 {
    position: absolute;
    left: 703px;
    top: 27px;
    width: 150px;
    height: 150px;
}

#u51 {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 130px;
    word-wrap: break-word;
}
