body {
    margin: 0px;
    background-image: none;
    position: static;
    left: auto;
    width: 760px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base {
    position: absolute;
    z-index: 0;
}

#u608_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 710px;
    height: 1293px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #996600;
}

#u608 {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 710px;
    height: 1293px;
    color: #996600;
}

#u609 {
    position: absolute;
    left: 2px;
    top: 638px;
    width: 706px;
    visibility: hidden;
    word-wrap: break-word;
}

#u610 {
    position: absolute;
    left: 95px;
    top: 200px;
    width: 637px;
    height: 1128px;
    overflow: hidden;
}

#u610_state0 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 637px;
    height: 1128px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u610_state0_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u611_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 532px;
    height: 482px;
}

#u611 {
    position: absolute;
    left: 35px;
    top: 66px;
    width: 532px;
    height: 482px;
}

#u612 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 532px;
    word-wrap: break-word;
}

#u610_state1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 637px;
    height: 1128px;
    visibility: hidden;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u610_state1_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u613_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 576px;
    height: 416px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
}

#u613 {
    position: absolute;
    left: 12px;
    top: 159px;
    width: 576px;
    height: 416px;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
}

#u614 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 576px;
    word-wrap: break-word;
}

#u610_state2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 637px;
    height: 1128px;
    visibility: hidden;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u610_state2_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u615_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 579px;
    height: 363px;
}

#u615 {
    position: absolute;
    left: 27px;
    top: 39px;
    width: 579px;
    height: 363px;
}

#u616 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 579px;
    word-wrap: break-word;
}

#u610_state3 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 637px;
    height: 1128px;
    visibility: hidden;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u610_state3_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u617_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 199px;
    height: 16px;
}

#u617 {
    position: absolute;
    left: 61px;
    top: 103px;
    width: 199px;
    height: 16px;
}

#u618 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 199px;
    word-wrap: break-word;
}

#u610_state4 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 637px;
    height: 1128px;
    visibility: hidden;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u610_state4_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u619_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 633px;
    height: 5449px;
}

#u619 {
    position: absolute;
    left: 0px;
    top: 55px;
    width: 633px;
    height: 5449px;
}

#u620 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 633px;
    word-wrap: break-word;
}

#u610_state5 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 637px;
    height: 1128px;
    visibility: hidden;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u610_state5_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u621_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 468px;
    height: 893px;
}

#u621 {
    position: absolute;
    left: 72px;
    top: 229px;
    width: 468px;
    height: 893px;
}

#u622 {
    position: absolute;
    left: 2px;
    top: 438px;
    width: 464px;
    visibility: hidden;
    word-wrap: break-word;
}

#u623_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 550px;
    height: 407px;
}

#u623 {
    position: absolute;
    left: 31px;
    top: 21px;
    width: 550px;
    height: 407px;
}

#u624 {
    position: absolute;
    left: 2px;
    top: 196px;
    width: 546px;
    visibility: hidden;
    word-wrap: break-word;
}

#u625_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150px;
    height: 150px;
    background: inherit;
    background-color: rgba(255, 223, 37, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#u625 {
    position: absolute;
    left: 741px;
    top: 38px;
    width: 150px;
    height: 150px;
}

#u626 {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 130px;
    word-wrap: break-word;
}

#u610_state6 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 637px;
    height: 1128px;
    visibility: hidden;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u610_state6_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u627_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 635px;
    height: 995px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u627 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 635px;
    height: 995px;
}

#u628 {
    position: absolute;
    left: 2px;
    top: 490px;
    width: 631px;
    visibility: hidden;
    word-wrap: break-word;
}

#u629 {
    position: absolute;
    left: 115px;
    top: 412px;
    width: 210px;
    height: 28px;
}

#u629_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 210px;
    height: 28px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u630 {
    position: absolute;
    left: 115px;
    top: 712px;
    width: 452px;
    height: 160px;
}

#u630_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 452px;
    height: 160px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u631_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 177px;
    height: 44px;
    background: inherit;
    background-color: rgba(204, 204, 204, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: #FF6600;
}

#u631 {
    position: absolute;
    left: 390px;
    top: 891px;
    width: 177px;
    height: 44px;
    font-size: 18px;
    color: #FF6600;
}

#u631_div.mouseOver {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 177px;
    height: 44px;
    background: inherit;
    background-color: rgba(0, 204, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: #FF6600;
}

#u631.mouseOver {
}

#u631_div.mouseDown {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 177px;
    height: 44px;
    background: inherit;
    background-color: rgba(0, 204, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: #FF6600;
}

#u631.mouseDown {
}

#u632 {
    position: absolute;
    left: 2px;
    top: 11px;
    width: 173px;
    word-wrap: break-word;
}

#u633_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 131px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u633 {
    position: absolute;
    left: 99px;
    top: 678px;
    width: 131px;
    height: 28px;
}

#u634 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 131px;
    word-wrap: break-word;
}

#u635 {
    position: absolute;
    left: 115px;
    top: 490px;
    width: 452px;
    height: 167px;
}

#u635_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 452px;
    height: 167px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u636_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 131px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u636 {
    position: absolute;
    left: 99px;
    top: 389px;
    width: 131px;
    height: 28px;
}

#u637 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 131px;
    word-wrap: break-word;
}

#u638_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 197px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u638 {
    position: absolute;
    left: 99px;
    top: 462px;
    width: 197px;
    height: 28px;
}

#u639 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 197px;
    word-wrap: break-word;
}

#u640_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 457px;
    height: 39px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u640 {
    position: absolute;
    left: 99px;
    top: 62px;
    width: 457px;
    height: 39px;
}

#u641 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 457px;
    word-wrap: break-word;
}

#u642 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u643_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 34px;
}

#u643 {
    position: absolute;
    left: 99px;
    top: 110px;
    width: 30px;
    height: 34px;
}

#u644 {
    position: absolute;
    left: 2px;
    top: 9px;
    width: 26px;
    visibility: hidden;
    word-wrap: break-word;
}

#u645_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    height: 18px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u645 {
    position: absolute;
    left: 129px;
    top: 119px;
    width: 134px;
    height: 18px;
}

#u646 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 134px;
    word-wrap: break-word;
}

#u647_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73px;
    height: 18px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u647 {
    position: absolute;
    left: 302px;
    top: 119px;
    width: 73px;
    height: 18px;
}

#u648 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73px;
    word-wrap: break-word;
}

#u649_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 116px;
    height: 18px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #199ED8;
}

#u649 {
    position: absolute;
    left: 432px;
    top: 119px;
    width: 116px;
    height: 18px;
    color: #199ED8;
}

#u650 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 116px;
    word-wrap: break-word;
}

#u651_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    height: 31px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #666666;
}

#u651 {
    position: absolute;
    left: 7px;
    top: 14px;
    width: 91px;
    height: 31px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #666666;
}

#u652 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    word-wrap: break-word;
}

#u653_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    height: 23px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #666666;
}

#u653 {
    position: absolute;
    left: 7px;
    top: 359px;
    width: 91px;
    height: 23px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #666666;
}

#u654 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    word-wrap: break-word;
}

#u655_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 380px;
    height: 100px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u655 {
    position: absolute;
    left: 97px;
    top: 186px;
    width: 380px;
    height: 100px;
}

#u656 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 380px;
    word-wrap: break-word;
}

#u657_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 386px;
    height: 59px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 28px;
    color: #666666;
    line-height: 28px;
}

#u657 {
    position: absolute;
    left: 96px;
    top: 81px;
    width: 386px;
    height: 59px;
    font-size: 28px;
    color: #666666;
    line-height: 28px;
}

#u658 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 386px;
    word-wrap: break-word;
}

#u659_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
}

#u659 {
    position: absolute;
    left: 668px;
    top: 58px;
    width: 40px;
    height: 40px;
}

#u660 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 36px;
    visibility: hidden;
    word-wrap: break-word;
}

#u661_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 51px;
    height: 27px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u661 {
    position: absolute;
    left: 671px;
    top: 95px;
    width: 51px;
    height: 27px;
}

#u662 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 51px;
    word-wrap: break-word;
}

#u663_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 143px;
    height: 44px;
    background: inherit;
    background-color: rgba(204, 204, 204, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: #FF6600;
}

#u663 {
    position: absolute;
    left: 424px;
    top: 148px;
    width: 143px;
    height: 44px;
    font-size: 18px;
    color: #FF6600;
}

#u663_div.mouseOver {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 143px;
    height: 44px;
    background: inherit;
    background-color: rgba(0, 204, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: #FF6600;
}

#u663.mouseOver {
}

#u663_div.mouseDown {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 143px;
    height: 44px;
    background: inherit;
    background-color: rgba(0, 204, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: #FF6600;
}

#u663.mouseDown {
}

#u664 {
    position: absolute;
    left: 2px;
    top: 11px;
    width: 139px;
    word-wrap: break-word;
}

#u665_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 40px;
    height: 35px;
}

#u665 {
    position: absolute;
    left: 523px;
    top: 152px;
    width: 40px;
    height: 35px;
}

#u666 {
    position: absolute;
    left: 2px;
    top: 10px;
    width: 36px;
    visibility: hidden;
    word-wrap: break-word;
}

#u667_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 143px;
    height: 44px;
    background: inherit;
    background-color: rgba(204, 204, 204, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: #FF6600;
}

#u667 {
    position: absolute;
    left: 589px;
    top: 148px;
    width: 143px;
    height: 44px;
    font-size: 18px;
    color: #FF6600;
}

#u667_div.mouseOver {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 143px;
    height: 44px;
    background: inherit;
    background-color: rgba(0, 204, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: #FF6600;
}

#u667.mouseOver {
}

#u667_div.mouseDown {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 143px;
    height: 44px;
    background: inherit;
    background-color: rgba(0, 204, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: #FF6600;
}

#u667.mouseDown {
}

#u668 {
    position: absolute;
    left: 2px;
    top: 11px;
    width: 139px;
    word-wrap: break-word;
}

#u669_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 143px;
    height: 44px;
}

#u669 {
    position: absolute;
    left: 95px;
    top: 148px;
    width: 143px;
    height: 44px;
    font-size: 18px;
    color: #FF6600;
}

#u670 {
    position: absolute;
    left: 2px;
    top: 11px;
    width: 139px;
    word-wrap: break-word;
}

#u671_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 143px;
    height: 44px;
    background: inherit;
    background-color: rgba(204, 204, 204, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: #FF6600;
}

#u671 {
    position: absolute;
    left: 260px;
    top: 148px;
    width: 143px;
    height: 44px;
    font-size: 18px;
    color: #FF6600;
}

#u671_div.mouseOver {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 143px;
    height: 44px;
    background: inherit;
    background-color: rgba(0, 204, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: #FF6600;
}

#u671.mouseOver {
}

#u671_div.mouseDown {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 143px;
    height: 44px;
    background: inherit;
    background-color: rgba(0, 204, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: #FF6600;
}

#u671.mouseDown {
}

#u672 {
    position: absolute;
    left: 2px;
    top: 11px;
    width: 139px;
    word-wrap: break-word;
}

#u673 {
    position: absolute;
    left: 95px;
    top: 202px;
    width: 637px;
    height: 41px;
    overflow: hidden;
}

#u673_state0 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 637px;
    height: 41px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u673_state0_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u674_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 98px;
    height: 21px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u674 {
    position: absolute;
    left: 20px;
    top: 13px;
    width: 98px;
    height: 21px;
}

#u675 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 98px;
    word-wrap: break-word;
}

#u676_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 98px;
    height: 21px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u676 {
    position: absolute;
    left: 129px;
    top: 13px;
    width: 98px;
    height: 21px;
}

#u677 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 98px;
    word-wrap: break-word;
}

#u678_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 98px;
    height: 21px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u678 {
    position: absolute;
    left: 236px;
    top: 13px;
    width: 98px;
    height: 21px;
}

#u679 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 98px;
    word-wrap: break-word;
}

#u680_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73px;
    height: 21px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u680 {
    position: absolute;
    left: 356px;
    top: 13px;
    width: 73px;
    height: 21px;
}

#u681 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73px;
    word-wrap: break-word;
}

#u682_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 98px;
    height: 21px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u682 {
    position: absolute;
    left: 466px;
    top: 13px;
    width: 98px;
    height: 21px;
}

#u683 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 98px;
    word-wrap: break-word;
}
