body {
    margin: 0px;
    background-image: none;
    position: static;
    left: auto;
    width: 685px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base {
    position: absolute;
    z-index: 0;
}

#u1228_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 681px;
    height: 530px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u1228 {
    position: absolute;
    left: 4px;
    top: 11px;
    width: 681px;
    height: 530px;
}

#u1229 {
    position: absolute;
    left: 2px;
    top: 257px;
    width: 677px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1230 {
    position: absolute;
    left: 25px;
    top: 11px;
    width: 600px;
    height: 272px;
    overflow: hidden;
}

#u1230_state0 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 600px;
    height: 272px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u1230_state0_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u1231_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 57px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u1231 {
    position: absolute;
    left: 39px;
    top: 30px;
    width: 57px;
    height: 16px;
}

#u1232 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 57px;
    white-space: nowrap;
}

#u1233_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 29px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u1233 {
    position: absolute;
    left: 173px;
    top: 30px;
    width: 29px;
    height: 16px;
}

#u1234 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 29px;
    white-space: nowrap;
}

#u1235_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 57px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u1235 {
    position: absolute;
    left: 271px;
    top: 30px;
    width: 57px;
    height: 16px;
}

#u1236 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 57px;
    white-space: nowrap;
}

#u1237 {
    position: absolute;
    left: 20px;
    top: 56px;
    width: 462px;
    height: 175px;
}

#u1238_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 114px;
    height: 27px;
}

#u1238 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 114px;
    height: 27px;
    font-size: 12px;
    color: #000000;
}

#u1239 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 110px;
    word-wrap: break-word;
}

#u1240_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 114px;
    height: 27px;
}

#u1240 {
    position: absolute;
    left: 114px;
    top: 0px;
    width: 114px;
    height: 27px;
}

#u1241 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 110px;
    word-wrap: break-word;
}

#u1242_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 114px;
    height: 27px;
}

#u1242 {
    position: absolute;
    left: 228px;
    top: 0px;
    width: 114px;
    height: 27px;
}

#u1243 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 110px;
    word-wrap: break-word;
}

#u1244_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 115px;
    height: 27px;
}

#u1244 {
    position: absolute;
    left: 342px;
    top: 0px;
    width: 115px;
    height: 27px;
}

#u1245 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 111px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1246_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 114px;
    height: 30px;
}

#u1246 {
    position: absolute;
    left: 0px;
    top: 27px;
    width: 114px;
    height: 30px;
    font-size: 12px;
    color: #000000;
}

#u1247 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 110px;
    word-wrap: break-word;
}

#u1248_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 114px;
    height: 30px;
}

#u1248 {
    position: absolute;
    left: 114px;
    top: 27px;
    width: 114px;
    height: 30px;
}

#u1249 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 110px;
    word-wrap: break-word;
}

#u1250_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 114px;
    height: 30px;
}

#u1250 {
    position: absolute;
    left: 228px;
    top: 27px;
    width: 114px;
    height: 30px;
}

#u1251 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 110px;
    word-wrap: break-word;
}

#u1252_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 115px;
    height: 30px;
}

#u1252 {
    position: absolute;
    left: 342px;
    top: 27px;
    width: 115px;
    height: 30px;
}

#u1253 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 111px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1254_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 114px;
    height: 30px;
}

#u1254 {
    position: absolute;
    left: 0px;
    top: 57px;
    width: 114px;
    height: 30px;
    font-size: 12px;
    color: #000000;
}

#u1255 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 110px;
    word-wrap: break-word;
}

#u1256_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 114px;
    height: 30px;
}

#u1256 {
    position: absolute;
    left: 114px;
    top: 57px;
    width: 114px;
    height: 30px;
}

#u1257 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 110px;
    word-wrap: break-word;
}

#u1258_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 114px;
    height: 30px;
}

#u1258 {
    position: absolute;
    left: 228px;
    top: 57px;
    width: 114px;
    height: 30px;
}

#u1259 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 110px;
    word-wrap: break-word;
}

#u1260_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 115px;
    height: 30px;
}

#u1260 {
    position: absolute;
    left: 342px;
    top: 57px;
    width: 115px;
    height: 30px;
}

#u1261 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 111px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1262_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 114px;
    height: 30px;
}

#u1262 {
    position: absolute;
    left: 0px;
    top: 87px;
    width: 114px;
    height: 30px;
    font-size: 12px;
    color: #000000;
}

#u1263 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 110px;
    word-wrap: break-word;
}

#u1264_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 114px;
    height: 30px;
}

#u1264 {
    position: absolute;
    left: 114px;
    top: 87px;
    width: 114px;
    height: 30px;
}

#u1265 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 110px;
    word-wrap: break-word;
}

#u1266_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 114px;
    height: 30px;
}

#u1266 {
    position: absolute;
    left: 228px;
    top: 87px;
    width: 114px;
    height: 30px;
}

#u1267 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 110px;
    word-wrap: break-word;
}

#u1268_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 115px;
    height: 30px;
}

#u1268 {
    position: absolute;
    left: 342px;
    top: 87px;
    width: 115px;
    height: 30px;
}

#u1269 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 111px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1270_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 114px;
    height: 30px;
}

#u1270 {
    position: absolute;
    left: 0px;
    top: 117px;
    width: 114px;
    height: 30px;
    font-size: 12px;
    color: #000000;
}

#u1271 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 110px;
    word-wrap: break-word;
}

#u1272_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 114px;
    height: 30px;
}

#u1272 {
    position: absolute;
    left: 114px;
    top: 117px;
    width: 114px;
    height: 30px;
}

#u1273 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 110px;
    word-wrap: break-word;
}

#u1274_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 114px;
    height: 30px;
}

#u1274 {
    position: absolute;
    left: 228px;
    top: 117px;
    width: 114px;
    height: 30px;
}

#u1275 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 110px;
    word-wrap: break-word;
}

#u1276_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 115px;
    height: 30px;
}

#u1276 {
    position: absolute;
    left: 342px;
    top: 117px;
    width: 115px;
    height: 30px;
}

#u1277 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 111px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1278_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 114px;
    height: 23px;
}

#u1278 {
    position: absolute;
    left: 0px;
    top: 147px;
    width: 114px;
    height: 23px;
}

#u1279 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 110px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1280_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 114px;
    height: 23px;
}

#u1280 {
    position: absolute;
    left: 114px;
    top: 147px;
    width: 114px;
    height: 23px;
}

#u1281 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 110px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1282_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 114px;
    height: 23px;
}

#u1282 {
    position: absolute;
    left: 228px;
    top: 147px;
    width: 114px;
    height: 23px;
}

#u1283 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 110px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1284_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 115px;
    height: 23px;
}

#u1284 {
    position: absolute;
    left: 342px;
    top: 147px;
    width: 115px;
    height: 23px;
}

#u1285 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 111px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1286_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 57px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u1286 {
    position: absolute;
    left: 405px;
    top: 30px;
    width: 57px;
    height: 16px;
}

#u1287 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 57px;
    white-space: nowrap;
}

#u1288_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(215, 215, 215, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u1288 {
    position: absolute;
    left: 391px;
    top: 63px;
    width: 60px;
    height: 20px;
}

#u1289 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    word-wrap: break-word;
}

#u1290_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(215, 215, 215, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u1290 {
    position: absolute;
    left: 391px;
    top: 93px;
    width: 60px;
    height: 20px;
}

#u1291 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    word-wrap: break-word;
}

#u1292_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(215, 215, 215, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u1292 {
    position: absolute;
    left: 391px;
    top: 123px;
    width: 60px;
    height: 20px;
}

#u1293 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    word-wrap: break-word;
}

#u1294_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(215, 215, 215, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u1294 {
    position: absolute;
    left: 391px;
    top: 153px;
    width: 60px;
    height: 20px;
}

#u1295 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    word-wrap: break-word;
}

#u1296_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 20px;
    background: inherit;
    background-color: rgba(215, 215, 215, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u1296 {
    position: absolute;
    left: 391px;
    top: 183px;
    width: 60px;
    height: 20px;
}

#u1297 {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 56px;
    word-wrap: break-word;
}
